.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 20px 0;
    color: #333;
  }
  

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width:560px){
  .sign-in {
    margin-bottom: 60px;
  }
}

@media only screen and (max-width:380px){
  .sign-in {
    width: 90vw;
    .custom-button {
      min-width: 120px;
    }
  }
}