.category-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  .title {
    color: #333;
    font-size:24px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
  }

  .category-items {
    display:flex;
    flex-wrap: wrap;
  }
}

@media only screen and (max-width:560px) {
  .category-page {
    .title {
      font-size: px;
      margin-bottom: 10px;
    }
  }
}