.category-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    cursor: pointer;
    color: #333;
    font-family:'proxima nova','Helvetica','Arial', sans-serif;
    font-size:24px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 30px;
    display: inline-block;
  }

  .description {
    margin-left: 20px;
    padding: 5px 10px;
    font-size: 17px;
    border-left: 1px solid #e5e5e5;
    color: #777;
  }

  .category-items {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
  }
}

@media only screen and (max-width:560px){
  .category-preview {
    .title {
      font-size:20px;
    }
  
    .description {
      display: none;
    }
  }
}