  .checkout-page {
    width: 100%;
    margin:10px auto;
    padding:20px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;

    .empty-massage {
      width: 90vw;
      p {
        font-size: 16px;
        color: #666;
      }
      button:hover{
        background-color:black;
      }
    }

    .title {
      font-size: 24px;
      font-weight: 200;
      color: #333;
      margin-top: 0;
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #ddd;
    }

    .checkout {
      display: flex;
      flex-direction: column;
      
      .checkout-header {
        display: flex;
        font-size:14px;
        color:#666;
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
  
        .image {
          width: 18vw;
        }
        .product {
          width:30vw;
        }
        .price,
        .quantity,
        .total{
          width: 12vw;
          text-align: center;
        }
        .remove {
          width:6vw;
          text-align: center;
        }
      }

      .checkout-items {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
      }

      .checkout-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        color: #4fb74c;
        margin-bottom: 30px;
      }

      .checkout-button {
        align-self: flex-end;

        button:hover{
          background-color: #4fb74c;
        }
      }
    }
  }

  @media only screen and (max-width:560px){
    .checkout-page{
      .checkout{
        .checkout-header {
          .image {
            display: none;
          }
          .product {
            width: 22vw;
          }
          .price,
          .quantity,
          .total{
            width: 20vw;
          }
          .remove {
            width:12vw;
          }
        }
      }
    }
  }