.checkout-item {
  display: flex;
  align-items: center;;
  padding:10px 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
  .image-container {
    width: 18vw;
    height: 120px;

    img {
      width: auto;
      height: 100%;
    }
  }
  
  .name {
    width: 30vw;
    font-size: 14px;
    font-weight: bold;
  }

  .quantity,
  .price,
  .total {
    font-size: 16px;
    width: 12vw;
    text-align: center;
  }

  .remove {
    width:6vw;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    &:hover {
      color:#4fb74c;
    }
  }

  .price,
  .total{
    color: #4fb74c;
    font-weight: bold;
  }

  .quantity {
    .arrow {
      font-size: 18px;;
      padding: 5px;
      margin: 10px;
      cursor: pointer;
      &:hover {
        color:#4fb74c;
      }
    }
  }
}


@media only screen and (max-width:560px){
  .checkout-item {
    .image-container{
      display: none;
    }
    .name {
      width: 22vw;
    }
    .quantity,
    .price,
    .total {
      width: 20vw;
    }
    .remove {
      width:12vw;
    }
  }
}