.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {  
  width: 1400px;
  margin: 0 20px;
}


@media only screen and (max-width:560px) {
  .container{
    margin: 0;
  }
}